
/* //////////////////////////////////////////////////////////////

 FGO sercher

////////////////////////////////////////////////////////////// */


/* google apps script のほうで設定されているマージンをリセット */  
#body {
  margin: 0 auto;
}

/* 選択中の能力 */  
/* ▼表示領域が600px以上の場合 */
@media screen and (min-width: 601px) {
  div#wrapper{
    width: 600px;
    margin: 0 auto;
    background: #FFF;
  }
}

/* ▼表示領域が600px未満の場合 */
@media screen and (max-width: 600px) {
  div#wrapper{
    width: auto;
    margin: 0 auto;
    background: #FFF;
  }
}

/* カテゴリー見出し */  
div.headline00{
  background-color: #BBB;
  border: 1px solid #111;  
  padding: 2px 2px 2px 10px; /* 上右下左 */
  margin: 2px 2px 2px 2px; /* 上右下左 */
  font-weight: bold;
  cursor: pointer;
}

/* abilityType */  
div.headline01{
  background-color: #EEE;
  border: 1px solid #111;  
  border-radius: 10px;        /* CSS3草案 */  
  -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
  -moz-border-radius: 10px;   /* Firefox用 */
  padding: 2px 2px 2px 10px; /* 上右下左 */
  margin: 2px 2px 2px 2px; /* 上右下左 */
}

.contents_text{
  padding: 2px 10px 2px 10px; /* 上右下左 */
  color: 	#111;
}


/* 選択中の能力 */  
span.choiceAbilityType{
  background-color: #81BEF7;
  border: 1px solid #5882FA;
  border-radius: 10px;        /* CSS3草案 */  
  -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
  -moz-border-radius: 10px;   /* Firefox用 */
  padding: 2px 4px 2px 4px; /* 上右下左 */
  margin: 2px 2px 2px 2px; /* 上右下左 */
  font-size: 10px;
  font-weight: bold;
  /* white-space: nowrap; */
  cursor: pointer;
}

span.abilityType{
  white-space: nowrap;
}


div.cp {
  border-radius: 10px;        /* CSS3草案 */  
  -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
  -moz-border-radius: 10px;   /* Firefox用 */
  padding: 5px;
  margin: 4px;
  border: 1px solid #111;  
}

div.cpParam {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  font-size:12px;
}

div.status.cpIcon{
  width: auto;
  margin: 5px 5px 5px 5px; /* 上右下左 */
}

div.status{
  margin: 5px 5px 5px 15px; /* 上右下左 */
}

div.abilityMin{
  border-radius: 10px;        /* CSS3草案 */  
  -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
  -moz-border-radius: 10px;   /* Firefox用 */
  margin: 2px;
  padding: 10px;
  background-color: #EEE;
}

div.abilityMax{
  border-radius: 10px;        /* CSS3草案 */  
  -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
  -moz-border-radius: 10px;   /* Firefox用 */
  margin: 2px;
  padding: 10px;
  background-color: #EEE;
}

div.other{
  border-radius: 10px;        /* CSS3草案 */  
  -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
  -moz-border-radius: 10px;   /* Firefox用 */
  margin: 2px;
  padding: 10px;
  background-color: #EEE;
}


.cpName{
  font-size:large;
  font-weight: bold;
}
.cpNo{
  font-size:small;
  font-weight: bold;
}

.rarity{
  background: #333;
  background: -webkit-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 16px;
}

footer {
  margin: 10px 0px 10px 0px; /* 上右下左 */
  font-size: 12px;
  font-style: oblique;
  font-weight: lighter;
  text-align: center;  
}


