
/* //////////////////////////////////////////////////////////////

 FGO sercher

////////////////////////////////////////////////////////////// */

/* 端末によってい表示切り替え */
/* ▼表示領域が600px以上の場合 */
@media screen and (min-width: 601px) {
  div#wrapper{
    width: 600px;
    margin: 0 auto;
    background: #FFF;
  }
}

/* ▼表示領域が600px未満の場合 */
@media screen and (max-width: 600px) {
  div#wrapper{
    width: auto;
    margin: 0 auto;
    background: #FFF;
  }

  div.card img {
     width: 100%;
  }
}

/* カテゴリー見出し */
div.headline00{
  background-color: #BBB;
  border: 1px solid #111;
  padding: 2px 2px 2px 10px; /* 上右下左 */
  margin: 2px 2px 2px 2px; /* 上右下左 */
  font-weight: bold;
  cursor: pointer;
}

/* abilityType */
div.headline01{
  background-color: #EEE;
  border: 1px solid #111;
  border-radius: 10px;        /* CSS3草案 */
  -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
  -moz-border-radius: 10px;   /* Firefox用 */
  padding: 2px 2px 2px 10px; /* 上右下左 */
  margin: 2px 2px 2px 2px; /* 上右下左 */
}

/* abilityType（除外） */
div.headline02{
  background-color: #CEE;
  border: 1px solid #111;
  border-radius: 10px;        /* CSS3草案 */
  -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
  -moz-border-radius: 10px;   /* Firefox用 */
  padding: 2px 2px 2px 10px; /* 上右下左 */
  margin: 2px 2px 2px 2px; /* 上右下左 */
}

.contents_text{
  padding: 2px 10px 2px 10px; /* 上右下左 */
  color: 	#111;
}


/* 選択中の能力 */
span.choiceAbilityType{
  background-color: #81BEF7;
  border: 1px solid #5882FA;
  border-radius: 10px;        /* CSS3草案 */
  -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
  -moz-border-radius: 10px;   /* Firefox用 */
  padding: 2px 4px 2px 4px; /* 上右下左 */
  margin: 2px 2px 2px 2px; /* 上右下左 */
  font-size: 10px;
  font-weight: bold;
  /* white-space: nowrap; */
  cursor: pointer;
}

span.abilityType{
  white-space: nowrap;
}


div.cp {
  border-radius: 10px;        /* CSS3草案 */
  -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
  -moz-border-radius: 10px;   /* Firefox用 */
  padding: 5px;
  margin: 4px;
  border: 1px solid #111;
}

div.cpParam {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  font-size:12px;
}

div.status.cpIcon{
  width: auto;
  margin: 5px 5px 5px 5px; /* 上右下左 */
}

div.status{
  margin: 5px 5px 5px 15px; /* 上右下左 */
}

div.abilityMin{
  border-radius: 10px;        /* CSS3草案 */
  -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
  -moz-border-radius: 10px;   /* Firefox用 */
  margin: 2px;
  padding: 10px;
  background-color: #EEE;
}

div.abilityMax{
  border-radius: 10px;        /* CSS3草案 */
  -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
  -moz-border-radius: 10px;   /* Firefox用 */
  margin: 2px;
  padding: 10px;
  background-color: #EEE;
}

div.other{
  border-radius: 10px;        /* CSS3草案 */
  -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
  -moz-border-radius: 10px;   /* Firefox用 */
  margin: 2px;
  padding: 10px;
  background-color: #EEE;
}

div.card{
  width: auto;
  margin: 5px 5px 5px 5px; /* 上右下左 */
  text-align:center;
}

div.andMore{
  text-align: right;
  margin: 2px;
}

div.flavorText{
  border-radius: 10px;        /* CSS3草案 */
  -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
  -moz-border-radius: 10px;   /* Firefox用 */
  margin: 2px;
  padding: 10px;
  background-color: #EEE;
}

div.illustrator{
  font-size:small;
  font-weight: bold;
}


.cpName{
  font-size:large;
  font-weight: bold;
}
.cpNo{
  font-size:small;
  font-weight: bold;
}

.rarity{
  background: #333;
  background: -webkit-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 16px;
}

footer {
  margin: 10px 0px 10px 0px; /* 上右下左 */
  font-size: 12px;
  font-style: oblique;
  font-weight: lighter;
  text-align: center;
}

/* アナウンス　赤で強調 */
.announce{
  color: red;
  font-size: 14px;
  font-style: bold;
}


/* ローディングアニメーション */
#loader-bg {
  background: #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  opacity: 0.6;
}
#loader-bg img {
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 0.6;
}


/* /////////////////////// */
/* tiny-skider用CSS ここから */
/* /////////////////////// */

.tns-outer {
  width: 100％;
  margin: 20px auto 10px auto;
  position: relative;
}
.tns-inner {
  position: relative;
}
.tns-nav {
  text-align: center;
}
.tns-nav > [aria-controls] {
  width: 9px;
  height: 9px;
  margin: 0 5px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  background: #dddddd;
}
.tns-nav > [aria-selected="true"] {
  background: #999999;
}
[data-controls="prev"],
[data-controls="next"] {
  position: absolute;
  z-index: 2;
  top: 0%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  padding: 0;
  border: none;
  border-radius: 50%;
  outline: none;
  opacity: 0.9;
  background: #8a8a8a;
  color: #ffffff;
  line-height: 30px;
  text-align: center;
}
[data-controls="prev"]:hover,
[data-controls="next"]:hover {
  background: #8a8a8a;
}
[data-controls="prev"] {
  left: 10px;
}
[data-controls="next"] {
  right: 10px;
}

/* ///////////////////////　tiny-skider用CSS ここまで */
